[package]
name = "resource"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
rsb = { path = "../rsb" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
